<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Időpont aktiválása</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <p>Tisztelt {{invocation}}!</p>
  <p>Ezt az e-mailt azért kapta, mert az Ön címével került foglalásra egy időpont
    a <a href="{{homeUrl}}" target="_blank" rel="noopener">Pick a Time - Időpontfoglaló</a> rendszerben
    <span style="color: brown">{{serviceName}}</span> szolgáltatásra
    <span style="color: brown">{{startTime}}</span>-kor kezdődő időpontra.</p>
  <p>Az időpont elfogadására kattintson az alábbi linkre:</p>
  <h3><a href="{{activateUrl}}"><strong>Időpont elfogadása</strong></a></h3>
  <p>Amennyiben az időpontot nem Ön foglalta, hagyja figyelmen kívül az üzenetet.</p><br /><br />
  <p>Figyelem! Az időpont elfogadása önmagában nem elegendő. Szükség van a szolgáltató visszaigazolására.<br />
    Emailben értesítjük a szolgáltató döntéséről.<br /><br />
  </p>
  <p>Az időpont lemondására az alábbi linken van lehetőség:</p>
  <p><a href="{{resignUrl}}">Időpont lemondása</a></p>
  <br /><br />
  <p>Üdvözlettel,<br />Pick a Time - Időpontfoglaló rendszer</p>
</body>

</html>