<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Időpont módosítva</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <p>Tisztelt {{invocation}}!</p>
  <p>A <a href="{{homeUrl}}" target="_blank" rel="noopener">Pick a Time - Időpontfoglaló</a> rendszerben
    <span style="color: brown">{{serviceName}}</span> szolgáltatáson szereplő foglalás új időpontja
    <span style="color: brown">{{startTime}}</span>. <br /><br />
  </p>
  <p>Az időpont lemondására az alábbi linken van lehetőség:</p>
  <p><a href="{{resignUrl}}"><strong>Időpont lemondása</strong></a></p>
  <br /><br />
  <p>Üdvözlettel,<br />Pick a Time - Időpontfoglaló rendszer</p>
</body>

</html>