@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');

/*BASICS*/

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-height {
  height: 100% !important;
}

.full-width {
  width: 100% !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hoverable {
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.display {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.z-1 {
  z-index: 1;
}

/*BASICS*/

/*COLORS*/

.bg-color-dark-blue {
  background-color: $_dark-blue;
}

.bg-color-blue {
  background-color: $_blue;
}

.bg-color-light-blue {
  background-color: $_light-blue;
}

.bg-color-light-brown {
  background-color: $_light-brown;
}

.bg-color-yellow {
  background-color: $_yellow;
}

.bg-color-gray {
  background-color: $_gray;
}

.bg-color-dark-mahogany {
  background-color: $_dark-mahogany;
}

.brown-menu-gradient {
  background-color: rgba(255, 255, 255, 0.7) !important;
  background: -moz-linear-gradient(left, rgba(121, 85, 72, 0.8) 0%, rgba(205, 191, 186, 0) 25%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0.8) 55%, rgba(205, 191, 186, 0) 75%, rgba(121, 85, 72, 0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(121, 85, 72, 0.8) 0%, rgba(205, 191, 186, 0) 25%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0.8) 55%, rgba(205, 191, 186, 0) 75%, rgba(121, 85, 72, 0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(121, 85, 72, 0.8) 0%, rgba(205, 191, 186, 0) 25%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0.8) 55%, rgba(205, 191, 186, 0) 75%, rgba(121, 85, 72, 0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc795548', endColorstr='#cc795548', GradientType=1); /* IE6-9 */
}

/*COLORS*/

/*TEXTS*/

.text-dark-blue {
  color: $_dark-blue;
}

.text-blue {
  color: $_blue;
}

.text-light-blue {
  color: $_light-blue;
}

.text-light-brown {
  color: $_light-brown;
}

.text-yellow {
  color: $_yellow;
}

.text-gray {
  color: $_gray;
}

.text-dark-mahogany {
  color: $_dark-mahogany;
}

.shadow-text-light-blue {
  text-shadow: 1px 1px $_light-blue;
}

.font-alegreya {
  font-family: 'Alegreya', serif;;
}

.link-disable-decoration, .link-disable-decoration:link, .link-disable-decoration:visited,
.link-disable-decoration:hover, .link-disable-decoration:focus, .link-disable-decoration:active {
  color: inherit;
  text-decoration: none;
}

/*TEXTS*/

/*ANIMATION-CSS*/

.jumping {
  animation-name: jump;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-direction: normal;
}

/*ANIMATION-CSS*/

/*ANIMATIONS*/

@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*ANIMATIONS*/

/*COMPONENTS*/

#home-simple {
  background-color: $_gray;
}

#footer {
  background-color: $_dark-mahogany;
  height: 200px;
}

/*COMPONENTS*/
