@import 'variables.scss';

/*BASICS*/

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-height {
  height: 100%!important;
}

.full-width {
  width: 100%!important;
}

/*BASICS*/

/*TEXTS*/

.text-dark-blue {
  color: $_dark-blue;
}

.text-blue{
  color: $_blue;
}

.text-light-blue {
  color: $_light-blue;
}

.text-light-brown{
  color: $_light-brown;
}

.text-yellow {
  color: $_yellow;
}

.text-gray{
  color: $_gray;
}

.text-dark-mahogany{
  color: $_dark-mahogany;
}

.shadow-text-light-blue {
  text-shadow: 1px 1px $_light-blue;
}

/*TEXTS*/

/*COMPONENTS*/

#home-simple {
  background-color: $_gray;
}

#footer {
  background-color: $_dark-mahogany;
  height: 200px;
}

/*COMPONENTS*/
